<a href="https://colab.research.google.com/github/kritikalita/Machine-Learning-Algorithms/blob/main/IRIS_Support_Vector_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('/content/Iris.csv')
data.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [ ]:
data.isnull()

       5.1    3.5    1.4    0.2  Iris-setosa
0    False  False  False  False        False
1    False  False  False  False        False
2    False  False  False  False        False
3    False  False  False  False        False
4    False  False  False  False        False
..     ...    ...    ...    ...          ...
144  False  False  False  False        False
145  False  False  False  False        False
146  False  False  False  False        False
147  False  False  False  False        False
148  False  False  False  False        False

[149 rows x 5 columns]

In [ ]:
data.rename(columns = {'5.1':'Sepal length', '3.5':'Sepal width',
                              '1.4':'Petal length', '0.2':'Petal width', 'Iris-setosa':'Class'}, inplace = True)
data

     Sepal length  Sepal width  Petal length  Petal width           Class
0             4.9          3.0           1.4          0.2     Iris-setosa
1             4.7          3.2           1.3          0.2     Iris-setosa
2             4.6          3.1           1.5          0.2     Iris-setosa
3             5.0          3.6           1.4          0.2     Iris-setosa
4             5.4          3.9           1.7          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
144           6.7          3.0           5.2          2.3  Iris-virginica
145           6.3          2.5           5.0          1.9  Iris-virginica
146           6.5          3.0           5.2          2.0  Iris-virginica
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica

[149 rows x 5 columns]

In [ ]:
feature_col_names=['Sepal length', 'Sepal width', 'Petal length', 'Petal width']
predicted_class_name=['Class']

In [ ]:
data.keys()

Index(['Sepal length', 'Sepal width', 'Petal length', 'Petal width', 'Class'], dtype='object')

In [ ]:
X=data[feature_col_names].values
Y=data[predicted_class_name].values

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, Y_train, Y_test =train_test_split(X, Y, test_size=0.80, random_state=42, stratify=Y)

X_train

array([[6.3, 2.5, 4.9, 1.5],
       [5.7, 3.8, 1.7, 0.3],
       [6.8, 3.2, 5.9, 2.3],
       [5.4, 3.4, 1.5, 0.4],
       [5. , 3.4, 1.6, 0.4],
       [5.6, 2.7, 4.2, 1.3],
       [5.8, 4. , 1.2, 0.2],
       [7.2, 3. , 5.8, 1.6],
       [5.8, 2.7, 5.1, 1.9],
       [5.5, 4.2, 1.4, 0.2],
       [6.4, 2.8, 5.6, 2.1],
       [5.9, 3. , 5.1, 1.8],
       [7.7, 2.6, 6.9, 2.3],
       [6.4, 3.2, 5.3, 2.3],
       [5.7, 3. , 4.2, 1.2],
       [6.3, 2.9, 5.6, 1.8],
       [5. , 2. , 3.5, 1. ],
       [6.9, 3.1, 4.9, 1.5],
       [5. , 3.3, 1.4, 0.2],
       [7.7, 3.8, 6.7, 2.2],
       [5.7, 2.6, 3.5, 1. ],
       [5. , 3.5, 1.3, 0.3],
       [7.6, 3. , 6.6, 2.1],
       [7. , 3.2, 4.7, 1.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.7, 2.9, 4.2, 1.3],
       [5.1, 3.8, 1.6, 0.2],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3]])

In [ ]:
from sklearn import svm
clf=svm.SVC(kernel='linear')
clf.fit(X_train,Y_train)
y_pred=clf.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
from sklearn import metrics
print("Accuracy:", metrics.accuracy_score(Y_test, y_pred))

Accuracy: 0.9833333333333333